aiodns==1.1.1
aiohttp==3.7.4
arrow==0.12.1
async-timeout==2.0.1
asyncurban==0.3.3
attrs==17.4.0
cassiopeia==3.0.18
cchardet==2.1.1
ccxt==1.13.11
certifi==2018.1.18
chardet==3.0.4
datapipelines==1.0.5
decorator==4.3.0
discord==0.0.2
discord.py==0.16.12
idna==2.6
idna-ssl==1.0.1
merakicommons==1.0.5
multidict==4.1.0
networkx==2.1
Pillow==5.1.0
pipenv==11.10.0
pycares==2.3.0
pycurl==7.43.0.1
python-dateutil==2.7.2
requests==2.18.4
six==1.11.0
urbandict==0.5
urllib3==1.22
virtualenv==15.2.0
virtualenv-clone==0.3.0
websockets==3.4
yarl==1.1.0